@import url("http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,100,200");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,700italic,900,500italic);
h1 { font-size:38px;
	font-weight: 600
	
}
body {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 400;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
}
::selection {
	color: rgb(255, 255, 255);
	text-shadow: none;
	background: rgb(0, 0, 0);
}
p {
	font-family: Raleway, sans-serif;
	font-size: 14px;
	font-weight: 400;
}
a {
	text-decoration: none;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(222, 222, 222);
}
a:focus {
	outline: none;
}
strong {
	font-weight: 700;
}
.preloader {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: white;
}
.preloader .item {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
}

/*  about */

.about_section {
	font-size: 28px;
	font-weight: 700;
	padding-top: 30px;
}
.spinner {
	width: 40px;
	height: 40px;
	margin: 0px auto;
	border-radius: 100%;
	-webkit-animation: scaleout 1s ease-in-out infinite;
	background-color: rgb(51, 51, 51);
}
@-webkit-keyframes scaleout {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}
.opacity-nav {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0px;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.952941);
}
ul.menu-fullscreen {
	width: 100%;
	top: 50%;
	position: absolute;
	height: 280px;
	margin-top: -140px;
}
ul.menu-fullscreen li {
	font-size: 35px;
	text-align: center;
	line-height: 70px;
	font-weight: 500;
}
ul.menu-fullscreen li > a {
	color: rgb(153, 153, 153);
	border: 0px;
}
ul.menu-fullscreen li > a:hover {
	color: rgb(255, 255, 255);
}
#full {
	width: 1140px;
	position: relative;
	top: 0px;
	margin: 0px auto;
	z-index: 9997;
}
#fullscreen {
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	margin: 0px auto;
	height: 80px;
	z-index: 9998;
}
header.boxed {
	position: fixed;
	width: 100%;
	margin: 0px auto;
	height: 100px;
	padding: 45px 0 0;
	z-index: 9999;
	background-color: #c7c2;
	display: none;
	top: 0px;
	    transform: translateZ(0);
    transition: left 0.6s cubic-bezier(0.55, 0, .1, 1),opacity 0.4s cubic-bezier(0.55, 0, .1, 1),top 0.4s cubic-bezier(0.55, 0, .1, 1);
	transition: background 0.2s ease-in;
	-webkit-transition: background 0.2s ease-in;
	transition: margin-top 600ms ease-out 0s;
	-ms-transition: margin-top 600ms ease-out;
	-moz-transition: margin-top 600ms ease-out;
	-webkit-transition: margin-top 600ms ease-out;
	transition: margin-top 600ms ease-out;
}

.col_4 {
	position: relative;
	width: 100%;
	margin: 0px auto;
	height: 100px;
	
	z-index: 9999;
	background-color: #c7c2;


	transition: background 0.2s ease-in;
	-webkit-transition: background 0.2s ease-in;
	transition: margin-top 600ms ease-out 0s;
	-ms-transition: margin-top 600ms ease-out;
	-moz-transition: margin-top 600ms ease-out;
	-webkit-transition: margin-top 600ms ease-out;
	transition: margin-top 600ms ease-out;
}

.four-column li { 
	
	padding-bottom: 10px;
	font-size: 14px;
color: #555;

font-weight: 700;

border-bottom-width: 0px;
letter-spacing: 1px;



}

.four-column li a{ color:brown; text-decoration: none}


.four-column {
	width: 25%;
	position: relative;
	float: left;
	padding-bottom: 80px;
	
}


header.boxed .header-margin {
	width: 1140px;
	margin: 0px auto;
}
header.boxed .header-margin-mini {
	width: 90%;
	margin: 0px auto;
}
ul.social-icon {
	float: right;
}
ul.social-icon a {
	float: right;
	font-size: 12px;
	border-bottom-width: 0px;
	color: black;
	padding-right: 0px !important;
}
ul.social-icon a:hover {
	color: rgb(195, 195, 195);
}
.menu-index {
	position: fixed;
	right: 5%;
	top: 30px;
	z-index: 99999;
	padding: 20px;
	cursor: pointer;
	background: black;
}
.menu-index i {
	float: right;
	font-size: 18px;
	color: white;
	padding-right: 0px !important;
}
.menu-index i:hover {
	color: rgb(195, 195, 195);
}
ul.menu-icon {
	float: right;
}
ul.menu-icon a {
	float: right;
	font-size: 19px;
	color: white;
	padding-right: 0px !important;
}
ul.menu-icon i {
	padding: 20px;
	background: black;
}
ul.menu-icon a:hover {
	color: rgb(195, 195, 195);
}
header a {
	color: rgb(0, 0, 0);
}
ul.header-nav {
	width: 72.6%;
	float: left;
	padding-top: 25px;
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
header .logo > a {
	font-size: 28px;
	font-weight: 800;

	line-height: 20px;

	width: 20.8%;
display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
header .logo > a:hover {
	color: rgb(195, 195, 195);
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	-moz-transition: transform .4s ease-in-out;
	-webkit-transition: transform .4s ease-in-out;
	transition: all .3s ease-in-out;
}
header li {
	text-transform: uppercase;
	list-style-type: none;
	margin: 0px auto;
	float: left;
}
header li > a {
	font-size: 13px;
	color: #555;
	padding-right: 20px;
	padding-left: 20px;
	
	display: inline-block;
	border-bottom-width: 0px;
	letter-spacing: 1px;
}
header li > a:hover {
	color: rgb(0, 0, 0);
}
header li > a #active {
	color: rgb(0, 0, 0);
}
header li ul {
	overflow: hidden;
	display: none;
	z-index: 20;
	background: rgb(249, 249, 249);
}
header li ul li a {
	line-height: 50px;
	padding-left: 30px;
	width: 260px;
}
header li:hover ul {
	position: absolute;
	padding: 0px;
	display: block;
	width: 260px;
}


.text-intro #start {
	
	width: 100%;
	height: 500px;
	
	background-image: url("../img/full/card.jpg");
	background-color:#F06060;
	background-size:100%;
	 background-repeat: no-repeat;

}


.text-intro #start  h2 { 
 
 	bottom: 10px;
 	width: 55%;
	margin-top: 250px;
	font-size: 40px;
 	padding: 20px;
  	color:#F06060;
	background-color: white;
	position: relative;
	float: left


	
}
h3{ font-size: 35px;
font-family: Raleway, sans-serif;
	font-weight: 600;
	line-height: 1.2;
	
}

.two-column #serv_list {
	
	font-size: 10px;
	
}


.one-column {
	width: 21.8%;
	position: relative;
	float: left;
	display: block;
	margin: 1% 0 1% 1.6%;
}

.two-column {
	width: 49.2%;
	position: relative;
	float: left;
	display: block;
	margin: 1% 0 1% 1.6%;

}

.three-column {
	width: 74.6%;
	position: relative;
	float: left;
	display: block;
	margin: 1% 0 1% 1.6%;

}



.two-column ul li {
	font-size: 15px;
	font-weight: 700;
	padding: 10px;
}
.two-column p {
	font-size: 16px!important;
}
.one-column p {
	width: 70% !important;
}
.two-column p {
	width: 100% !important;
}
.clear {
	clear: both;
}
.content {
	position: relative;
	width: 1140px;
	margin: 150px auto;
}
.content .text-intro {
	width: 1140px;
	margin: 50px auto 0px;

	display: block;
	
}


.text-intro, #site-type {
	background: #fff;
	
	
}
.content .text-intro h2 {
	font-size: 40px;
	color: #444;
}
.content .text-intro h1 {
	font-size: 30px;
	width: 50%;
	letter-spacing: 1px;
	color: #444;
	font-weight: 700;
	line-height: 70px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */


.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.span_4_of_4 {
	position: relative;
	width: 1140px;
	margin: 50px auto 0px;
}

}
.fullwidth .span_3_of_4 {
	width: 70.2%;
	background-color: red;
	position: relative
}


.fullwidth .span_2_of_4 {
	width: 49.2%;
	background-color: aqua;
	position: relative;
}
.span_3_of_4 {
	width: 70.2%;
	background-color: red;
	position: relative
}
.span_2_of_4 {
	width: 49.2%;
	background-color: aqua;
	position: relative;
}
.span_1_of_4 {
	width: 22.8%;
	background-color: whitesmoke;
	position: relative;
}

.content .fullwidth {
	width: 1140px;
	margin: 50px auto 0px;

	display: block;
	
}

.fullwidth {
	width: 1140px;
	margin: 50px auto 0px;

	display: block;
	
}

.content .fullwidth h1 {
    font-size: 28px;

    letter-spacing: 1px;
    color: #444;
    font-weight: 700;
  
}

.nav_grid {
    width: 1140px;
    margin: 50px auto 0px;
    display: block;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}




.content .text-intro p {
	font-size: 13px;
	color: rgb(141, 141, 141);
	margin-top: 30px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 1px;
	width: 40%;
}
.typed-cursor {
	opacity: 1;
	font-weight: 900;
	-webkit-animation: blink 0.7s infinite;
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.home-sidebar {
	top: 0px;
	position: absolute;
	width: 33.3333%;
	right: 0px;
	height: 100%;
	z-index: 9;
	overflow: hidden;
	background: rgb(244, 244, 244);
}
.parallax {
	position: absolute;
}
.parallax-option {
	position: absolute;
	width: 100%;
	height: 100%;
}
.prev-next {
	width: 100%;
	max-width: 1170px;
	margin: 0px auto;
	padding-top: 100px;
}
.prev-next a {
	color: black;
	font-weight: 500;
	padding-bottom: 15px;
}
.prev-next a:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}
.prev-button {
	width: 50%;
	position: relative;
	float: left;
	text-align: left;
}
.next-button {
	width: 50%;
	position: relative;
	float: left;
	text-align: right;
}
#ajax-content {
	width: 100%;
}
.portfolio-grid {
	width: 1170px;
	position: relative;
	margin: 30px auto;
	overflow: hidden;
}
li.grid-item {
	width: 360px;
	position: relative;
	float: left;
	padding: 15px;
}
.grid-hover {
	position: absolute;
	width: 360px;
	height: 100%;
	top: 0px;
	z-index: 2;
	opacity: 0;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	background: white;
}
.grid-hover:hover {
	opacity: 0.9;
}
.grid-hover h1 {
	font-size: 23px;
	bottom: 80px;
	left: 40px;
	position: absolute;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	letter-spacing: 1px;
	font-weight: 900;
	line-height: 50px;
}
.grid-hover p {
	font-size: 13px;
	bottom: 40px;
	left: 40px;
	position: absolute;
	color: rgb(104, 104, 104);
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 50px;
}
li.grid-item img {
	width: 360px;
}
#footer-box {
	height: 150px;
	margin-top: 75px;
}
footer {
	width: 100%;
	margin-top: 150px;
	height: 300px;
	overflow: hidden;
	position: relative;
	z-index: 10;
	background: rgb(241, 241, 241);
}
.footer-margin {
	width: 1140px;
	margin: 30px auto;
	line-height: 100px;
}
#footer-left {
	text-align: left;
}
.footer-margin .copyright {
	color: rgb(104, 104, 104);
	letter-spacing: 1px;
	font-size: 12px;
	width: 100%;
	text-align: center;
	float: left;
}
.footer-margin .social-footer {
	color: rgb(104, 104, 104);
	letter-spacing: 1px;
	font-size: 13px;
	width: 100%;
	text-align: center;
	float: left;
}
.footer-margin .social-footer a {
	font-size: 15px;
	color: black;
	padding: 20px;
}
.footer-margin .social-footer a:hover {
	color: rgb(195, 195, 195);
}
.contact-one,
.contact-two {
	width: 30%;
	padding-right: 3%;
	position: relative;
	float: left;
}
.contact-three {
	width: 33%;
	position: relative;
	float: left;
}
.contact-one p,
.contact-two p,
.contact-three p {
	width: 100% !important;
}
input {
	width: 100%;
	height: 40px;
	border: 0px;
	color: rgb(0, 0, 0);
	font-weight: 500;
	line-height: 40px;
	font-family: Raleway, sans-serif;
	margin-bottom: 10px;
	font-size: 13px;
	padding-left: 15px;
	box-sizing: border-box;
	background: rgb(248, 247, 247);
}
input.button-submit {
	width: 220px;
	height: 40px;
	border: 0px;
	font-family: Raleway, sans-serif;
	color: rgb(0, 0, 0);
	float: right;
	font-weight: 900;
	line-height: 40px;
	font-size: 13px;
	background: rgb(248, 247, 247);
}
input:focus {
	background: rgb(244, 244, 244);
}
textarea {
	width: 100%;
	height: 40px;
	border: 0px;
	line-height: 40px;
	color: rgb(0, 0, 0);
	font-size: 13px;
	font-family: Raleway, sans-serif;
	font-weight: 500;
	margin-bottom: 10px;
	padding: 0px 0px 0px 15px;
	box-sizing: border-box;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	background: rgb(248, 247, 247);
}
textarea:focus {
	height: 250px;
	background: rgb(244, 244, 244);
}
.typewrite {
	width: 50%;
	color: #171717;
}
h2 {
	font-size: 20px;
	font-weight: 700;
}
h4 {
	font-size: 15px;
}
.list_about li {
	font-size: 15px;
	padding: 10px 0;
	font-weight: 700
}
.list_about li a {
	font-size: 15px;
	color:darkgray;
}
.list_about {
	font-size: 2px
}
.page_title {
	
}
